@{
    ViewBag.Title = "About";

}
<script type="text/javascript">
    $(document).ready(function () {
        loadFirstTab();
    });
</script>

<h2>About</h2>
<ul class="tabsList">
        <li class="tabid" data-url="/About/Who">WHO</li>
        <li class="tabid" data-url="/About/What">WHAT</li>
        <li class="tabid" data-url="/About/Why">WHY</li>
        <li class="tabid" data-url="/About/How">HOW</li>
        <li class="tabid" data-url="/About/Where">WHERE</li>
</ul>
<div id="tabContent"></div>